<header class="sticky top-0 z-50 glass">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <a href="{{ url_for('home') }}" class="flex items-center">
                <img src="https://safebox.life/assets/safebox_logo-BNM1guWD.svg" alt="Safebox" class="h-10">
            </a>
            <nav class="flex items-center gap-2 ">

                <a href="{{ url_for('all_videos') }}" class="text-black font-semibold border-1 border-green-100">
                    Explore all videos</a>
            </nav>
        </div>
    </div>
</header>